/* Modify the background color */
.navbar {
    background: white !important;
  }

body{
    background-color: white
}

#first_row {
    height: 300px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

#input_row{
    /* background-color: yellow; */
    height: 100px;
}

.form-rounded {
    border-radius: 10rem;
    height: 50px;

}

#input_column {
    color: blue;
}

#bar_bar {
    /* background-color: brown; */
    height: 70px;
}

#bar_column {
    /* background-color: orange; */
}

#lucky_search{
    margin-left: 15px;
}