/* Modify the background color */
.navbar {
    background: white !important;
  }

body{
    background-color: white
}

#first_row {
    height: 300px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

#input_row{
    height: 100px;
}

.form-rounded {
    border-radius: 10rem;
    height: 50px;

}

#input_column {
    color: blue;
}

#bar_bar {
    height: 70px;
}

#lucky_search{
    margin-left: 15px;
}

#search_heading{
    color: rgb(228, 15, 15);
    margin-top: 30px;
    margin-bottom: 60px;
}

#input_rows{
    margin-bottom: 15px;
}